@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Js{
    <script src="@(AppGlobal.Res)js/plugins/template/template-web.js?@AppGlobal.VNo"></script>
    <script src="@(AppGlobal.Res)js/plugins/template/template.helper.js?@AppGlobal.VNo"></script>
    <script src="@(AppGlobal.Res)js/plugins/yw-jq-plugin/datagrid/datagrid-1.0.js?@AppGlobal.VNo"></script>
    <script src="@(AppGlobal.Res)js/Admin/Areas/System/ConfigParamManage.js?@AppGlobal.VNo"></script>
}

<div class="content pd5">
    <div class="row">
        <div class="col-12">
            <div class="card-body">
                <div class="dataTables_wrapper container-fluid dt-bootstrap4">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="dataTables_length">
                                <div class="input-group input-group-sm">
                                    <select id="status" class="form-control form-control-sm">
                                        <option value="-1">——是否可用——</option>
                                        <option value="1">可用</option>
                                        <option value="0">不可用</option>
                                    </select>
                                    <input type="text" id="keyword" class="form-control float-right form-control-sm" placeholder="Search" />
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-default" name="search_btn"><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="dataTables_filter">
                                <div class="btn-group btn-group-sm">
                                    <a name="refresh_btn" class="btn btn-default"><i class="fa fa-refresh"></i></a>
                                </div>
                                <div class="btn-group btn-group-sm">
                                    <a name="add_btn" class="btn btn-default"><i class="fa fa-plus"></i>&nbsp;新增</a>
                                    <a name="edit_btn" class="btn btn-default"><i class="fa fa-pencil-square-o"></i>&nbsp;编辑</a>
                                    <a name="enable_btn" class="btn btn-default"><i class="fa fa-unlock"></i>&nbsp;启用</a>
                                    <a name="disable_btn" class="btn btn-default"><i class="fa fa-lock"></i>&nbsp;禁用</a> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 mt6">
                            <div name="datagrid"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/html" id="template">
        {{each data as obj i}}
        <tr data-id="{{obj.id}}" >
            <td>{{obj.config_key}}</td>
            <td>{{obj.config_value}}</td>
            <td>
                {{if obj.is_enable }}
                <i class="fa fa-toggle-on"></i>
                {{else}}
                <i class="fa fa-toggle-off"></i>
                {{/if}} 
            </td>
            <td>{{obj.remarks}}</td> 
        </tr>
        {{/each}}
    </script>
</div>


