@{
    Layout = null;
}

<!DOCTYPE html>

<html class="h_nopm">
<head>
    <title>未获得该功能授权</title>
    <meta name="viewport" content="width=device-width" />
    <link href="@(ViewBag.Res)Content/Resources/Style/style.css" rel="stylesheet" />
    <link href="@(ViewBag.Res)Content/Resources/Style/bootstrap-cerulean.css" rel="stylesheet" />
</head>
<body>
    <div class="d_main rel">
        <div class="m_tips">
            <a href="javascript:void(0);" class="btn_close">X</a><p>提示：您当前账号无权访问该功能页面。</p>
        </div>
        <div class="picBar"></div>
    </div>
</body>
</html>
